{% extends 'myapp/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <table cellspacing="0" cellpadding="10px" rules="all" border="1px">
        <tr><td>Пользователь</td><td>Номер заказа</td><td>Товары</td><td>Сумма заказа</td></tr>
        {% for order in orders %}
            <tr>
                <td>{{ user }}</td>
                <td>{{ order.id }}</td>
                <td>
                    {% for product in order.products.all %}
                    {{ product }}<br>
                    {% endfor %}
                </td>
                <td>{{ order.total_price }}</td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}